.root {
  height: 100vh;
  padding-top: 10px !important;
  background-image: url(https://oss-ali-pub-prod.cogolinks.com/20250827151512073_5904_271_25d4a24864ef31_10080001227.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 16px;
}

.agreement {
  display: flex;
  margin-top: 10px;
  color: var(--color-title);
  font-size: 11px !important;
  line-height: 16px !important;
  padding-bottom: calc(env(safe-area-inset-bottom) + 24px);

  .radio {
    align-self: flex-start;
    margin: -7px 1px -8px -8px;
    padding: 8px;
  }

  .profile {
    flex: 1;
  }
}

.loginBtn{
  height: 50px;
  line-height: 50px;
  font-size: 16px;
}
