.root {
  background-color: #e7f0fe;
  background-image: url(https://oss-ali-pub-prod.cogolinks.com/20250822094551046_25138_61_2780fe22c0b30a1_10080002102.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
}

.inner {
  padding: 0 16px;
}

.nav {
  background-color: transparent !important;
}

.statistics_wrap {
  position: relative;
  min-height: 192px;
  margin-top: 16px;
  padding: 0 20px 20px 20px;
  box-sizing: border-box;
  background-color: #3872e6;
  border-radius: 16px;
  box-shadow: 0px 4px 30px 0px #286FEE4D;
  background-image: url(https://oss-ali-pub-prod.cogolinks.com/20250815112041263_24859_64_255eadafd5476f1_10080001227.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;

  &.login{
    background-image: url(https://oss-ali-pub-prod.cogolinks.com/20250904105840575_22884_67_2b8282dff36e411_10080002102.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url(https://oss-ali-pub-prod.cogolinks.com/20250815112439953_10531_67_25605297f6aa731_10080002102.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 68px;
    height: 30px;
  }

  > View {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .statistics {
    position: relative;
    padding-top: 20px;

    > View {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .income_wrap {
      .s_amount {
        font-size: 24px;
        font-weight: 500;
      }
    }
  }

  .s_label {
    margin-bottom: 4px;
    color: rgba(255, 255, 255, 0.70);
    font-size: 14px;
    line-height: 19.6px;
  }

  .s_amount {
    color: #FFF;
    font-family: D-DIN-PRO, serif;
    font-size: 30px;
    font-weight: 500;

    text {
      font-size: 14px;
    }
  }
}

.invite_btn {
  background-image: url(https://oss-ali-pub-prod.cogolinks.com/20250827135010707_20145_69_29173a31229c9a1_10080002102.png);
}

.total_income {
  margin-top: -28px;
}
