
.total_wrap {
  position: relative;
  box-sizing: border-box;
  border: 0.5px solid rgba(255, 255, 255, 0.00);
  padding: 16px;
  border-radius: 16px;
  background: linear-gradient(180deg, #F1F8FF 0%, #FFF 61.54%);
  backdrop-filter: blur(15px);
  min-height: 78px;

  .list {
    display: flex;
    justify-content: space-between;
  }

  .list > View {
    flex: 1;
    border-right: 0.5px solid #bec8d7;
    margin-right: 18px;
    &:last-child {
      border-right: none;
      margin-right: 0;
    }
  }

  .s_label {
    color: var(--color-content);
    font-size: 13px;
    line-height: 18.2px;
    padding-left: 20px;
    background-size: 16px 16px;
    background-position: left center;
    background-repeat: no-repeat;
  }

  .s_amount {
    margin-top: 8px;
    font-family: D-DIN-PRO;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0;
    color: var(--color-title);

    text {
      font-size: 14px;
    }
  }
}

.popover_icon {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #8491A0;
}

.m_info{
  color: var(--color-content);
  font-size: 15px;
}
