.root {
  background-color: #e7f0fe;
  background-image: url(https://oss-ali-pub-prod.cogolinks.com/20250821160239847_1529_65_8865c936d0ce1_10080001227.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
}

.content {
  padding: 16px 16px 0 16px;
}

.statistics {
  position: relative;

  .total_income_wrap {
    padding: 8px 16px;
    box-sizing: border-box;
    min-height: 101px;
    border-radius: 16px;
    font-size: 14px;
    background-color: #286FEE;
    background-image: url(https://oss-ali-pub-prod.cogolinks.com/20250818150025834_10531_67_2657d67e81a4ec1_10080002102.svg);
    background-position: right -1px top;
    background-repeat: no-repeat;
    background-size: 68px 30px;

    > View {
      display: flex;
      align-items: center;
      line-height: 21px;

      .s_label {
        color: #FFFFFF;
      }

      .s_amount {
        padding: 2px 0 0 10px;
        font-size: 15px;
        font-family: D-DIN-PRO;
        font-style: Medium;
        letter-spacing: 0%;
        color: #FFFFFF;

        text {
          font-size: 13px;
        }
      }
    }
  }

  .await_income_wrap {
    margin-top: -67px;
    min-height: 126px;
    box-sizing: border-box;
    padding: 16px;
    background: #FFFFFF;
    border-radius: 16px;
    box-shadow: 0px 4px 20px 0px #286FEE1A;

    .s_label {
      font-size: 14px;
      line-height: 20px;
      color: var(--color-content);
      margin-bottom: 4px;
    }

    .s_amount {
      font-family: D-DIN-PRO;
      font-size: 30px;
      font-weight: 600;
      color: var(--color-title);
      margin-bottom: 4px;

      text {
        font-size: 14px;
        font-weight: 700;
      }
    }
  }
}

.invite_btn {
  background-image: url(https://oss-ali-pub-prod.cogolinks.com/20250827135241396_20145_67_29175d46e9e5131_10080002102.png);
}

.level_chart {
  position: relative;
  display: flex;
  align-items: center;
  width: 209px;
  height: 24px;
  margin-top: 15px;
  border-radius: 100px;

  &:after {
    position: absolute;
    right: -10px;
    top: -8px;
    z-index: 1;
    content: "";
    width: 36px;
    height: 36px;
    background-size: contain;
  }

  .level {
    padding: 0 6px;
    font-family: D-DIN-PRO;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
  }

  .chart {
    display: flex;
    width: 168px;
    height: 16px;
    line-height: 16px;
    border-radius: 100px;

    .inner {
      position: relative;
      height: 16px;
      border-radius: 100px;
      font-weight: 700;
      font-size: 10px;
      box-sizing: border-box;

      > View {
        display: flex;
        align-items: center;
        margin-left: 6px;
        transform: translateY(0.5px);
        box-sizing: border-box;
        white-space: nowrap;
      }

      .unit {
        align-self: flex-end;
        line-height: 15px;
      }

      text {
        font-family: D-DIN-PRO;
        font-weight: 700;
        font-size: 14px;
      }

      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 1;
        border-radius: 100px;
        background-image: url(https://oss-ali-pub-prod.cogolinks.com/20250818142243269_10531_62_2655c7b326044d1_10080002102.png);
        background-size: 82px 17px;
        background-repeat: repeat-x;
      }
    }
  }

  &.blue {
    background: rgba(40, 111, 238, 0.16);
    color: #1A3C75 !important;

    &:after {
      background-image: url(https://oss-ali-pub-prod.cogolinks.com/20250818142024285_10531_65_2655a7571013251_10080002102.png);
    }

    .level {
      color: #286FEE;
    }

    .inner {
      background: linear-gradient(90deg, #05A3FE -2.73%, #286FEE 100%);
    }
  }

  &.purple {
    background: rgba(152, 93, 255, 0.10);
    color: #3D1781 !important;

    &:after {
      background-image: url(https://oss-ali-pub-prod.cogolinks.com/20250818144834122_10531_62_265730c931480f1_10080002102.png);
    }

    .level {
      color: #985DFF;
    }

    .inner {
      background: #985DFF;

      &:before {
        background-image: url(https://oss-ali-pub-prod.cogolinks.com/20250818142243269_10531_62_2655c7b326044d1_10080002102.png);
      }
    }
  }

  &.red {
    background: rgba(255, 76, 42, 0.10);
    color: #431A12 !important;

    &:after {
      background-image: url(https://oss-ali-pub-prod.cogolinks.com/20250818144833345_24859_63_2655c345c4803e1_10080001227.png);
    }

    .level {
      color: #FF4C2A;
    }

    .inner {
      background: linear-gradient(90deg, #ff6652 -2.73%, #ff4531 100%);

      &:before {
        background-image: url(https://oss-ali-pub-prod.cogolinks.com/20250818142243269_10531_62_2655c7b326044d1_10080002102.png);
      }
    }
  }
}

.total_income {
  margin-top: 12px;
}

.swiper {
  width: 100% !important;
  height: 20px;
}

.banner {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;

  .b_1 {
    margin-top: 68px;
    width: 102px;
    height: 89px;
  }

  .b_2 {
    position: absolute;
    right: 44px;
    top: 54px;
    width: 18px;
    height: 21px;
    animation: float 4s ease-in-out infinite;

    image {
      width: 100% !important;
      height: 100% !important;
    }
  }
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}
