.car-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px 0 32px;
  box-sizing: border-box;
  width: 100%;

  &__info {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-right: 32px;
  }

  &__logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #fff;
  }

  &__title {
    margin-left: 16px;
    color: #fff;
    font-size: 36px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 500px;
  }
}
