.root {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  padding-bottom: 8px;
  background: #3689f5;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px 0 16px;
  box-sizing: border-box;
  width: 100%;
  min-height: 31px;
}

.info {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-right: 16px;
}

.logo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
}

.title {
  margin-left: 8px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 250px;
}
