.car-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px 0 16px;
  box-sizing: border-box;
  width: 100%;

  &__info {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-right: 16px;
  }

  &__logo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
  }

  &__title {
    margin-left: 8px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 250px;
  }
}
