.root {
  width: 100%;
  background: linear-gradient(180deg, #2784f8 0%, #eeeeee 100%);
  padding: 16px;
}

.item {
  border: 1px solid #e8e8e8;
  border-radius: 16px;
  margin-top: 16px;
  background: rgba(255, 255, 255, .7);

  .title {
    padding: 16px;
    border-bottom: 1px solid #e8e8e8;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    font-size: 18px;
    font-weight: bold;
  }

  .subTitle {
    font-size: 12px;
    margin-left: 8px;
    font-weight: normal;
    color: #333;
  }

  .desc {
    padding: 16px;
  }
}

