.root {
  padding-top: 39px;
  color: #FFF;
}

.title {
  font-size: 14px;
  line-height: 19.6px;
  margin-bottom: 4px;
}

.tip {
  font-size: 12px;
  line-height: 16.8px;
  margin-bottom: 16px;
  opacity: 0.8;
}

.btn {
  width: 96px;
  height: 30px;
  line-height: 28px;
  padding-left: 16px;
  box-sizing: border-box;
  border-radius: 25px;
  border: 1px solid #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  background-image: url(https://oss-ali-pub-prod.cogolinks.com/20250818104505633_10531_66_2649e77b63c2591_10080002102.svg);
  background-size: 16px 16px;
  background-position: right 16px center;
  background-repeat: no-repeat;
}


.dark {
  padding-top: 0;
  .title {
    color: var(--color-title);
  }

  .tip {
    color: var(--color-content);
  }

  .btn {
    border: 1px solid var(--button-primary-background-color);
    color: var(--button-primary-background-color);
    background-image: url(https://oss-ali-pub-prod.cogolinks.com/20250818153158915_10531_69_26598f42f523e71_10080002102.svg);
  }
}
