.root {
  box-sizing: border-box;
  padding: 16px;
  margin-top: 12px;
  border-radius: 16px;
  background-color: #FFFFFF;
}

.title {
  color: var(--color-title);
  font-size: 14px;
  line-height: 19.6px;
  font-weight: 500;
  padding-left: 22px;
  background-image: url(https://oss-ali-pub-prod.cogolinks.com/20250827135934038_20145_62_2917bd5a4999371_10080002102.png);
  background-size: 16px 16px;
  background-position: left 1px;
  background-repeat: no-repeat;
}

.list {
  > View {
    padding: 8px 0;
    border-bottom: 1px solid var(--color-divider);

    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }

    .i_top {
      display: flex;
      align-items: center;
      margin-bottom: 4px;
    }

    .i_title {
      flex: 1;
      color: var(--color-title);
      font-size: 13px;
      font-weight: 400;
      line-height: 18.2px;
    }

    .i_desc {
      color: #8491A0;
      font-size: 13px;
      line-height: 18.2px
    }

    .action {
      color: #286FEE;
      font-size: 14px;
      font-weight: 400;
      line-height: 19.6px;
    }
  }

  .arrow {
    align-self: center;
    color: #8491A0;
    font-size: 16px;
  }
}

.empty {
  padding: 24px 0 0 0 !important;

  image {
    width: 40px;
    height: 40px;
    margin-bottom: 4px !important;
  }
}
