.upload-file-container {
  background-color: #fff;
  padding: 24px;

  .upload-file-error {
    font-family: PingFang SC, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 8px;
    color: #F53F3F;
  }

  .upload-file-h1 {
    font-family: PingFang SC, serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #1D2129;
    margin-bottom: 8px;
  }

  .upload-file-h2 {
    font-family: PingFang SC, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 8px;
    color: #4E5969;
  }

  .upload-file-text {
    font-family: PingFang SC, serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    color: #86909C;
  }

  .upload-file-item {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 16px;

    .upload-file-item-left {
      width: 80px;
      height: 80px;
      border: 1px dashed #E5E6EB;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 16px;
      border-radius: 4px;

      .upload-file-item-left-img {
        width: 65px;
        height: 65px;
      }

      .upload-file-item-left-icon {
        width: 40px;
        height: 40px;
      }
    }

    .upload-file-item-right {
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-break: break-all;
      font-family: PingFang SC, serif;
      font-size: 12px;
      font-weight: 400;
      line-height: 17px;
      color: #4E5969;
    }
  }

  .upload-file-add {
    width: 80px;
    height: 80px;
    border: 1px dashed #E5E6EB;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    background: #F6F7F8;
    border-radius: 4px;

    .upload-file-add-icon {
      width: 8px;
      height: 8px;
    }
  }
}

.upload-file-btn,
.upload-file-cancel {
  height: 52px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: PingFang SC, serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #4E5969;
  border-bottom: 1px solid #E5E6EB;
}

.upload-file-btn-no,
.upload-file-cancel {
  border-bottom: none;
}

.upload-file-cancel {
  border-top: 8px solid #F6F7F8;
}
