.root {
  position: relative;
  box-sizing: border-box;
  padding: 16px;
  margin-top: 12px;
  min-height: 201px;
  border-radius: 16px;
  background-color: #FFFFFF;
}

.title {
  color: var(--color-title);
  font-size: 14px;
  line-height: 19.6px;
  font-weight: 500;
  padding-left: 22px;
  background-image: url(https://oss-ali-pub-prod.cogolinks.com/20250827135955595_20145_62_2917c25f2ac9bc1_10080002102.png);
  background-size: 16px 16px;
  background-position: left 1px;
  background-repeat: no-repeat;
}

.arrow_icon {
  position: absolute;
  right: 10px;
  top: 10px;

  image {
    width: 16px;
    height: 16px;
  }
}

.card {
  display: flex;
  min-height: 89px;
  margin-top: 8px;
  box-sizing: border-box;

  > View {
    position: relative;
    flex: 1;
    padding: 12px 0 12px 12px;
    margin-right: 8px;
    border-radius: 8px;
    background-color: rgba(159, 192, 225, 0.10);
    color: #8491A0;
    font-size: 12px;
    line-height: 16.8px;

    &:after {
      content: '';
      position: absolute;
      right: -14px;
      top: 50%;
      z-index: 1;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      background-image: url("https://oss-ali-pub-prod.cogolinks.com/20250815152809552_10531_70_256d9c27e734df1_10080002102.svg");
      background-size: 20px 20px;
      background-position: left top;
      background-repeat: no-repeat;
    }

    &:last-child {
      background-color: #E6F2FF;
      background-image: url(https://oss-ali-pub-prod.cogolinks.com/20250815153006274_24859_65_256c49fff4efaf1_10080001227.png);
      background-size: 24px 26px;
      background-position: right top;
      background-repeat: no-repeat;
      margin-right: 0;

      &:after {
        display: none;
      }
    }
  }
}

.count {
  color: var(--color-title);
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 2px;

  text {
    font-family: D-DIN-PRO;
    font-size: 18px;
    font-weight: 500;
  }
}

.summary {
  margin-top: 4px;
  display: flex;
  align-items: center;

  > View {
    flex-shrink: 0;
  }

  .icon {
    height: 14px;
    image {
      width: 10px;
      height: 10px;
    }
  }

  .count {
    font-family: D-DIN-PRO;
    font-size: 13px;
    font-weight: 600;
    line-height: 18.2px;
    margin: 0 2px 0 4px;

    &.up {
      color: #F53F3F;
    }

    &.down {
      color: #00C98C;
    }
  }
}

.button {
  height: 40px;
  margin-top: 12px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center top;
}

.empty {
  padding: 42px 0 0 0 !important;

  image {
    width: 40px;
    height: 40px;
    margin-bottom: 4px !important;
  }
}
