
.root {
  padding: 0;
  background-image: url('./images/bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1D2129;
  font-size: 18px;
}

.user_wrap {
  display: flex;
  align-items: center;
  padding: 16px 16px 24px 16px;

  .unLogin {
    margin-left: 8px;

    .hello {
      color: #4E5969;
      font-size: 16px;
      margin-bottom: 4px;
    }

    .toLogin {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #165DDB;
      font-size: 16px;

      .icon {
        margin-left: 4px;
      }
    }
  }
}

.info {
  flex: 1;
  margin-left: 16px;
  display: flex;
  flex-direction: column;

  .authentication {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .hi {
      font-weight: 400;
      font-size: 20px;
    }

    .text {
      color: #286FEE;
    }
  }

  .nameWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .name {
      flex: 1;
      color: var(--color-title);
      font-size: 20px;
      font-weight: bold;
      max-width: 220px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .phoneWrap {
    display: flex;
    align-items: center;
    margin-top: 2px;

    .tel {
      font-size: 16px;
      color: #4E5969;
      font-weight: 400;
    }

    .line {
      height: 16px;
      width: 1px;
      background: rgba(86, 108, 148, 0.40);
      margin: 0 10px;
    }

    .level_wrap {
      position: relative;

      .level {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-size: 14px;
        font-family: 'D-DIN-PRO', serif;
      }
    }
  }
}

.menu {
  border-radius: 8px;
  border: 1px solid #fff;
  background: #f1f7ff;
  backdrop-filter: blur(2px);
  margin: 0 16px;

  .menu_item {
    display: flex;
    align-items: center;
    padding: 16px;
    border-bottom: 0.5px solid rgba(63, 94, 148, 0.10);

    &:last-child {
      border-bottom: none;
    }

    .title {
      flex: 1;
      padding-left: 6px;
      font-size: 16px;
      color: #1D2129;
    }

    .extra_tip {
      font-size: 16px;
      color: #8491A0;
    }

    .arrow {
      color: #8491a0;
      margin-left: 6px;
    }
  }
}

