@font-face {
  font-family: 'D-DIN-PRO';
  src: url('./font-family/D-DIN-PRO-Medium.woff') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.taroify-checkbox__icon{
  width: 14px !important;
  height: 14px !important;
}
.taroify-checkbox__icon .taroify-icon {
  display: flex !important;
  align-items: center;
  justify-content: center;
  width: 14px !important;
  height: 14px !important;
  font-size: 12px !important;
}
